<h1>{{ 'Les trois derniers livres'|t }}</h1>

<ol>
  {% for node in data %}
    <h3><li>{{ node.title.value }}</li></h3>
  {% endfor %}
</ol>

<h2><a href="{{ path('quatre_d.liste_livres') }}">{{ 'Voir tous les livres'|t }} ></a></h2>
